<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Adicionar Producto</title>
     <script src="/socket.io/socket.io.js"></script>
</head>
<body>
    <h1>Adicionar Producto</h1>
    
    <form id="productForm" action="/addProduct" method="post">
        <label for="title">Título del Producto:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="description">Descripción:</label>
        <textarea id="description" name="description" required></textarea><br>

      
        <label for="price">Precio:</label>
        <input type="number" id="price" name="price" required><br>

        
        <label for="stock">Stock:</label>
        <input type="number" id="stock" name="stock" required><br>

        <label for="category">Categoría:</label>
        <input type="text" id="category" name="category" required><br>

       
        <button type="submit">Agregar Producto</button>
    </form>

<script>
    const socket = io(); 
    
   
    document.getElementById('productForm').addEventListener('submit', (e) => {
        e.preventDefault();

       
        const formData = new FormData(e.target);
        const productData = {};

        formData.forEach((value, key) => {
            productData[key] = value;
        });
        console.log('Formulario enviado:', productData)
        socket.emit('addProduct', productData);

        e.target.reset();
    });
</script>
</body>
</html>
